{% extends '/layouts/boilerplate.html' %}

{% block body_class %}main main-index{% endblock %}

{% block layout %}
  <div class="hero-unit">
    <img src="{{ url_for('static', filename = 'img/BlackHole-xSamaHome.jpg') }}" width="100%">
  </div>

  {% include "_adsense.html" -%}

  <div class="row">
    <div class="span4">
      <div class="well repo-info">
        <h2>Yosemite Valley, US</h2>
        <ul class="repo-actions">
         <li>
         <img src="{{ url_for('static', filename = 'img/Yosemite.jpg') }}" width="100%">
         </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="well repo-info">
        <h2>Isle of Sky, Scotland</h2>
        <ul class="repo-actions">
         <li>
         <img src="{{ url_for('static', filename = 'img/IsleOfSkyScotland.jpg') }}" width="100%">
         </li>
        </ul>
      </div>
    </div>
    <div class="span4">
      <div class="well repo-info">
        <h2>Alesund, Norway</h2>
        <ul class="repo-actions">
         <li>
         <img src="{{ url_for('static', filename = 'img/Alesund-Norway.jpg') }}" width="100%">
         </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span10 offset1">
      <p>Powered by <a href="http://flask.pocoo.org">Flask</a> and user management is done by the <a href="http://packages.python.org/Flask-Security">Flask-Security</a> extension. This website serves as an example of how to use both extensions effectively.</p>
    </div>
  </div>
{% endblock %}
